@tailwind base;
@tailwind components;
@tailwind utilities;

.a:hover{
    width: 30px;
    height: 30px;
    transition: 0.2s;
    

}
.d:hover{
    width: 25px;
    height: 25px;
    
}
.b:hover {
    background-color: rgba(240, 248, 255, 0);
    color:#f1d1b5;
    font-weight: 600;
    border: 2px solid #f1d1b5;
}
.f{
  background-color: rgba(240, 248, 255, 0);
  font-weight: 600;
  color: white;
  border: 2px solid #307249;
}
.f:hover{
  background-color:#307249;
  color:white;
  font-weight: 600;
  
}
/* Hamburger Menu */
.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
  }
  
  .hamburger-top,
  .hamburger-middle,
  .hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #f0b7a4;
    transform: rotate(0);
    transition: all 0.5s;
  }
  
  .hamburger-middle {
    transform: translateY(7px);
  }
  
  .hamburger-bottom {
    transform: translateY(14px);
  }
  
  .open {
    transform: rotate(90deg);
    transform: translateY(0px);
  }
  
  .open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
  }
  
  .open .hamburger-middle {
    display: none;
  }
  
  .open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
  }
  .s-enlarge:hover{
    height: 65px;
    width: 65px;
  }
  .shadow:hover{
    box-shadow:   0 -7px 25px 0 rgba(0, 0, 0, 0.295), 0 13px 16px -1px rgba(0, 0, 0, 0.245);
  }
@font-face {
  font-family: myFont;
  src: url(Better\ Saturday.otf);
}


.active:hover,
.active:active{
  color: #D5AE61;

}
#search-container input:focus{
  border-bottom-color: #D5AE61;
}
.card{
  background-color: whitesmoke;
  max-width: 18em;
  margin-top: 1em;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 1em 2em 2.5em rgba(1,2,68,0.08);
}
.image-container{
  text-align: center;
}
.img{
  max-width: 100%;
  object-fit: contain;
  height: 15em;
}
.container{
  padding-top: 1em;
  color: #D5AE61;
}
.container h5{
  font-weight: 500;
}
.imag{
  width: 250px;
  height: 300px;
  background-color: rgb(248, 248, 248);
}
.product-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: white;
      opacity: 0;
      transition: opacity 0.5s;
    }

    .product-card:hover {
      opacity: 0.8;
    }

    .product-card:hover .product-content {
      opacity: 1;
    }
    .i:hover{
      width: 85px;
      height: 85px;
      
  }
